@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root {
    scroll-behavior: smooth;
}
body {
    background-color: black;
    color: rgb(230, 253, 255);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
body > * {
    transition: 0.5s;
}
pre {
    font-size: 3ch;
    font-family: 'Roboto', sans-serif;
}
#topbar {
    background-color: rgba(38, 109, 171, 0.194);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 2vw;
    position: fixed;
    width: 96vw;
    height: 10vh;
    bottom: 80vh;
    backdrop-filter: blur(20px);
}
#topbar a {
    background-color: rgba(59, 90, 190, 0.879);
    padding: 1ch;
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 3ch;
    transition: 1s;
    color: rgb(165, 232, 255);
    text-decoration: none;
}
#topbar li:hover {
    background-color: rgb(71, 71, 224);
}
#about {
    background-color: rgb(40, 80, 103);
    padding-top: 0.5vh;
    padding-bottom: 5vh;
}
.heading {
    font-size: 6ch;
    margin-top: 90vh;
}
.projectTitle {
    font-size: 4ch;
}
.projectDescription {
    font-size: 3ch;
}
#scrollDownMessage {
    position: fixed;
    top: 85vh;
    left: 45vw;
    background-color: rgb(14, 53, 113);
    width: 10vw;
    border-radius: 10px;
}