@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 768px) {
    #scrollDownMessage {
        display: none !important;
    }
    #topbar {
        display: none !important;
    }
    #topbar a {
        padding: 5px !important;
        min-width: 0 !important;
    }
}


body {
    background-color: black;
    color: rgb(230, 253, 255);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

body>* {
    transition: 0.5s;
}

pre {
    font-size: 3ch;
    font-family: 'Roboto', sans-serif;
    white-space: pre-wrap;
}

p {
    font-size: 3ch;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

li {
    font-size: 3ch;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 20%;
    height: 20%;
    border-radius: 5px;
}

h2 {
    font-size: 6ch;
    font-weight: lighter;
}

a {
    font-family: 'Roboto', sans-serif;
    color: rgba(50, 135, 210, 0.688)
}

.biggerLink {
    font-size: 5ch;
}

#topbar {
    background-color: rgba(38, 109, 171, 0.194);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 2vw;
    position: fixed;
    width: 96vw;
    height: 10vh;
    backdrop-filter: blur(50px);
}

#topbar a {
    background-color: rgba(59, 90, 190, 0.879);
    padding: 1ch;
    min-width: fit-content;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 3ch;
    transition: 1s;
    color: rgb(165, 232, 255);
    text-decoration: none;
}

#topbar li:hover {
    background-color: rgb(71, 71, 224);
}

#about {
    background-color: rgb(40, 80, 103);
    padding-top: 0.5vh;
    padding-bottom: 5vh;
}

#projects {
    background-color: rgba(70, 10, 88, 0.363);
    padding-top: 0.5vh;
    padding-bottom: 5vh;
}

#skills {
    background-color: rgba(39, 172, 121, 0.363);
    padding-top: 0.5vh;
    padding-bottom: 5vh;
}

#experience {
    background-color: rgba(74, 88, 10, 0.546);
    padding-top: 0.5vh;
    padding-bottom: 5vh;
}

#creativeart {
    background-color: rgba(79, 36, 188, 0.546);
    padding-top: 0.5vh;
    padding-bottom: 5vh;
}

.heading {
    font-size: 6ch;
    margin-top: 30vh;
}

.projectTitle {
    font-size: 4ch;
}

.projectDescription {
    font-size: 3ch;
}

#scrollDownMessage {
    position: fixed;
    width: 500px;
    height: 75px;
    top: 90%;
    left: 50%;
    margin-top: -37.5px;
    /* Negative half of height. */
    margin-left: -250px;
    /* Negative half of width. */
    background-color: #0e3571;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hello {
    font-size: 80px;
    white-space: pre-wrap;
}